.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 20px auto;
}

.bloque {
    display: block;
    margin: 0 auto;
}

.margen-10 {
    margin: 10px auto;
}

input#edad-form{
    margin: 0;
}

.check-inline {
    display: inline;
    margin: 0;
    width: 20px;
}

input#operador, input.enviar-inline{
    display: inline !important;
}

.margin-reducido{
    margin: 0 auto !important;
}